<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountInfoDefine">

    <!--添加数据开始-->
    <sql id="insertDefine">
        insert into demo_account_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="accountName != null">account_name,</if>
            <if test="gender != null">gender,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="accountName != null">#{accountName},</if>
            <if test="gender != null">#{gender},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </sql>
    <!--添加数据结束-->

    <!--修改数据开始-->
    <sql id="updateDefine">
        update demo_account_info
        <set>
            <if test="m.accountName != null">account_name = #{m.accountName},</if>
            <if test="m.gender != null">gender = #{m.gender},</if>
            <if test="m.createTime != null">create_time = #{m.createTime},</if>
        </set>
        where id = #{k}
    </sql>
    <!--修改数据结束-->

    <!--全量修改数据开始-->
    <sql id="updateAllDefine">
        update demo_account_info
        <set>
            account_name = #{m.accountName},
            gender = #{m.gender},
            create_time = #{m.createTime},
        </set>
        where id = #{k}
    </sql>
    <!--全量修改数据结束-->

    <!--删除数据开始-->
    <sql id="deleteDefine">
        delete
        from demo_account_info
        where id = #{k}
    </sql>
    <!--删除数据结束-->

    <!--批量删除数据开始-->
    <sql id="deleteMultiDefine">
        delete from demo_account_info
        <where>
            <if test="ks != null">
                id in
                <foreach collection="ks" item="k" index="no" open="(" separator="," close=")">
                    #{k}
                </foreach>
            </if>
            <if test="ks == null">
                1=2
            </if>
        </where>
    </sql>
    <!--批量删除数据结束-->

</mapper>

