<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ess.demo.mvc.simple.modules.test.repository.SalaryInfoDao">

    <!--查询详情数据开始-->
    <select id="load" parameterType="java.lang.String" resultType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        SELECT id,
               account_id,
               year_number,
               month_number,
               salary_amount
        FROM demo_salary_info
        where id = #{k}
    </select>
    <!--查询详情数据结束-->

    <!--查询列表数据开始-->
    <select id="query" parameterType="com.ess.core.model.Query" resultType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        SELECT
        id, account_id, year_number, month_number, salary_amount
        FROM demo_salary_info
        <where>
            1=1
        </where>
        <if test="q.sort != null and q.sort.size()>0">
            <foreach collection="q.sort" item="e" open="ORDER BY" close="" separator=",">#{e.columnName}
                <if test="e.sortType == 1">ASC</if>
                <if test="e.sortType == 0">DESC</if>
            </foreach>
        </if>
    </select>
    <!--查询列表数据结束-->

    <!--查询列数量开始-->
    <select id="count" parameterType="com.ess.core.model.Query" resultType="java.lang.Integer">
        SELECT
        count(id)
        FROM demo_salary_info
        <where>
            1=1
        </where>
    </select>
    <!--查询数量结束-->


    <!--新增数据开始-->
    <insert id="insert" parameterType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        <selectKey resultType="java.lang.String" keyColumn="id" keyProperty="id" order="BEFORE">
            SELECT REPLACE(UUID(), '-', '') FROM DUAL
        </selectKey>
        <include refid="SalaryInfoDefine.insertDefine"/>
    </insert>
    <!--新增数据结束-->

    <!--修改数据开始-->
    <update id="update" parameterType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        <include refid="SalaryInfoDefine.updateDefine"/>
    </update>
    <!--修改数据结束-->

    <!--全量修改数据开始-->
    <update id="updateAll" parameterType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        <include refid="SalaryInfoDefine.updateAllDefine"/>
    </update>
    <!--全量修改数据结束-->

    <!--删除数据开始-->
    <delete id="delete" parameterType="java.lang.String">
        <include refid="SalaryInfoDefine.deleteDefine"/>
    </delete>
    <!--删除数据结束-->

    <!--删除数据开始-->
    <delete id="deleteMulti" parameterType="java.util.List">
        <include refid="SalaryInfoDefine.deleteMultiDefine"/>
    </delete>
    <!--删除数据结束-->

    <!--通过Key集合查询列表数据开始-->
    <select id="list" resultType="com.ess.demo.mvc.simple.modules.test.model.SalaryInfo">
        SELECT
        id, account_id, year_number, month_number, salary_amount
        FROM demo_salary_info
        <where>
            <if test="ks != null">
                ${fn} in
                <foreach collection="ks" item="k" index="no" open="(" separator="," close=")">
                    #{k}
                </foreach>
            </if>
            <if test="ks == null">
                1=2
            </if>
        </where>
    </select>
    <!--通过Key集合查询列表数据结束-->

</mapper>

