<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SalaryInfoDefine">

    <!--添加数据开始-->
    <sql id="insertDefine">
        insert into demo_salary_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="accountId != null">account_id,</if>
            <if test="yearNumber != null">year_number,</if>
            <if test="monthNumber != null">month_number,</if>
            <if test="salaryAmount != null">salary_amount,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="accountId != null">#{accountId},</if>
            <if test="yearNumber != null">#{yearNumber},</if>
            <if test="monthNumber != null">#{monthNumber},</if>
            <if test="salaryAmount != null">#{salaryAmount},</if>
        </trim>
    </sql>
    <!--添加数据结束-->

    <!--修改数据开始-->
    <sql id="updateDefine">
        update demo_salary_info
        <set>
            <if test="m.accountId != null">account_id = #{m.accountId},</if>
            <if test="m.yearNumber != null">year_number = #{m.yearNumber},</if>
            <if test="m.monthNumber != null">month_number = #{m.monthNumber},</if>
            <if test="m.salaryAmount != null">salary_amount = #{m.salaryAmount},</if>
        </set>
        where id = #{k}
    </sql>
    <!--修改数据结束-->

    <!--全量修改数据开始-->
    <sql id="updateAllDefine">
        update demo_salary_info
        <set>
            account_id = #{m.accountId},
            year_number = #{m.yearNumber},
            month_number = #{m.monthNumber},
            salary_amount = #{m.salaryAmount},
        </set>
        where id = #{k}
    </sql>
    <!--全量修改数据结束-->

    <!--删除数据开始-->
    <sql id="deleteDefine">
        delete
        from demo_salary_info
        where id = #{k}
    </sql>
    <!--删除数据结束-->

    <!--批量删除数据开始-->
    <sql id="deleteMultiDefine">
        delete from demo_salary_info
        <where>
            <if test="ks != null">
                id in
                <foreach collection="ks" item="k" index="no" open="(" separator="," close=")">
                    #{k}
                </foreach>
            </if>
            <if test="ks == null">
                1=2
            </if>
        </where>
    </sql>
    <!--批量删除数据结束-->

</mapper>

